<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <h1 data-template="config:app-title"/>
    <h2>Application Test</h2>
        <div data-template="app:test"/>
    <h2>Application Info</h2>
        <div data-template="config:app-info"/>
</div>